:root {
    --light: rgb(102, 163, 183);
    --dark: rgb(45, 53, 88);
}
form {
    border: 2px solid var(--light);
    height: 70vh;
    color: var(--light);
    padding: 10px;
    padding-top: 20px;
}

#submit-button {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: white;
}

#city-input {
    margin: 2px;
}

#history-buttons {
    border: 2px solid var(--light);
}

#dashboard {
    background-color: var(--light);
    color: white;
}

#weather-card {
    background-color: var(--dark);
    color: white;
}

#weather-div {
    display: inline-block;
    height: fit-content;
}

#cards {
    background-color: var(--dark);
    color: white;
    flex-wrap: wrap;
}

.list-group-items {
    background-color: var(--dark);
    color: white;
}